:host {
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

:host>form>input[type=text] {
  width: 350px;
}

:host>article>header {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: large;
  text-transform: capitalize;
}

:host>article>p::first-letter {
  text-transform: capitalize;
}

:host>article>p {
  font-size: medium;
}

:host>article>header>.created {
  font-size: small;
  color: #555;
  font-weight: bold;
}