:host {
	display: block;
}

:host>section {
	text-align: center;
	padding-top: 1em;
}

:host>section,
:host>form>* {
	max-width: 30em;
}

:host>form>smoothly-input,
:host>form>smoothly-input-file {
	margin: 0 auto;
	border: 1px solid rgb(var(--smoothly-dark-color))
}

:host>form>*:not(:first-child):not(smoothly-submit) {
	border-top: none;
}

:host>section,
:host>section>*,
:host>form>* {
	margin: 1em auto;
}

:host>form>a {
	display: block;
	text-align: center;
	text-decoration: none;
}

:host>form>smoothly-submit {
	padding: .6em 0;
}
